.documentEditorCard {
    outline-style: solid;
    outline-width: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    text-align: left;
    /*background: inherit;*/
    background-color: rgba(245, 245, 245, 0.288);
    backdrop-filter: blur(5px);
    margin-top: 1em;
    margin-bottom: 1em;
  }

.documentEditorCard>button {
    width: 300px;
}



.thumbnailDetails{
    outline-style: solid;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    background-color: rgba(245, 245, 245, 0.288);
    backdrop-filter: blur(5px);
  }

.thumbnailSelector{

    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.imageFrame {
  outline-style: dashed;
  width: 100px;
  height: 100px;
}