<div class="loginCard" *ngIf="isUserLogged()">
    <button (click)="logout()">LOGOUT / CHANGE USER</button>
</div>


<div class="loginCard" *ngIf="!isUserLogged()">

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="id_username">
                <div>username</div>
                <div><input id="username" type="email" autocomplete="off" formControlName="username"
                        [value]="pwdPlaceholder"></div>

            </label>
        </div>
        <div>
            <label for="id_password">
                <div>password</div>
                <div>
                    <input id="password" type="password" autocomplete="off" formControlName="password"
                        [value]="pwdPlaceholder" [placeholder]="pwdPlaceholder">
                </div>
            </label>
        </div>


        <button class="button" type="submit">
            <span>Connect</span>
        </button>
    </form>
</div>


<div *ngIf="isUserLogged()" class="loginCard">


    <!-- <div> -->
    <p> Welcome, {{getUserClaims()?.sub}} ! </p>
    <p> You can already see the public content, but you can log into the following domains you're subscribed to see
        even more contents!</p>


    <div *ngFor="let domain of getAvailableDomains()">
        <div class="domainCard">
            <h3>{{domain.name}}</h3>
            <span style="size: 3">{{domain.id}}</span>
            <span *ngIf="isSameDomain(domain)" style="color:green">YOU`RE CURRENTLY
                VIEWING IT</span>
            <span *ngIf=domain.parent>parent: {{domain.parent.name}}</span>
            <span *ngIf=domain.restricted>restricted</span>
            <!--                 <button   class="button" type="button" (click)="connectToDomain(domain.id)"> -->
            <button *ngIf=" !isSameDomain( domain)" class="button" type="button"
                (click)="connectToDomain(domain.id)">
                connect
            </button>
        </div>
    </div>

</div>