
<div class="loginCard" *ngIf="!isUserLogged()">

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="id_username">
                <div>username</div>
                <div><input id="username" type="email" autocomplete="off" formControlName="username"
                        [value]="pwdPlaceholder"></div>

            </label>
        </div>
        <div>
            <label for="id_password">
                <div>password</div>
                <div>
                    <input id="password" type="password" autocomplete="off" formControlName="password"
                        [value]="pwdPlaceholder" [placeholder]="pwdPlaceholder">
                </div>
            </label>
        </div>


        <button class="button" type="submit">
            <span>Connect</span>
        </button>
    </form>
</div>


